img {
    width: 300px;
    border-radius: 50px; 
    float: left;
    margin-right: 10px;

   /*  border radius half of the width picture will bw round  */

}

p.username {
    font-weight: bold;
}